<footer>
  <div class="footer-container">
    <div class="footer-contact">
      <p>{{"Empresa Júnior de Tecnologia. Ideias em sistemas reais."}}</p>
    </div>

    <!--
    <div class="footer-info">
      <h4>{{templateText.divTitle1 }}</h4>
      <p>{{templateText.endereco}}</p>
      <p>{{templateText.cnpj }}</p>
    </div>

    
    <div>
      <h4>{{"Teste1"}}</h4>
    </div>
    -->
    <div class="footer-social">
      <img class="footer-logo" [src]="logoAzulClaro" alt="Logo Hï-Tech"/>

      <div class="social-content">
        <a *ngFor="let rede of templateText.RedesSociais"
          [href]="rede.url"
          target="_blank">

          <img [src]="rede.icon" [alt]="rede.nome" class="social-icon" />
        </a>
      </div>
    </div>
  </div>
  
</footer>
