app-core {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  padding: 0 16px;
}

router-outlet {
  position: relative;
  z-index: 1;
  margin-top: 160px;
}
