@import "colors.scss";

@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/RubikMonoOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('assets/fonts/RobotoMono-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url('assets/fonts/RobotoMono-Variable-Italic.woff2') format('woff2');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}


.toast-success {
  background-color: #28a745;
  color: white ;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.toast-error {
  background-color: #dc3545 ;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.toast-container {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.toast-title {
  font-family: "Rubik Mono One", sans-serif;
  font-weight:  bold;


}

