@import "colors.scss";

section {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#typed-text {
  font-size: 3rem;
  font-weight: bold;
  color: $color-secondary;
  border-right: 2px solid rgb(226, 109, 128); /* Simula o cursor piscando */
  white-space: nowrap;
  overflow: hidden; /* Esconde o texto enquanto é digitado */
  display: inline-block;
}

@keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(226, 109, 128);
  }
  100% {
    border-color: transparent;
  }
}

#hero {
  position: relative;
  background-image: url('/assets/fad3c4 (2).png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#e85234 (
      0,
      0,
      0,
      0.5
    ); /* Ajuste a opacidade conforme necessário */
    filter: grayscale(100%);
    pointer-events: none; /* Bloqueia cliques na imagem */
    z-index: 1;
  }
  /* Conteúdo dentro da hero section */
  h1,
  p {
    content: "";
    position: relative;
    z-index: 2;
    font-size: 36px;
    font-family:'';
    color: #e85234; /* Ajuste conforme a necessidade de contraste */
    margin-left: 200px;
  }
}





#about {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e85234;
  padding: 20px;
  h2 {
    font-family: serif;
    font-weight: bold;
    color:white;
    margin-bottom: 10px;

  }

  p {
    font-family: 'Didot', serif;
    color:white;
    font-size: large;
    margin-bottom: 1%;
  }

  .container {
    display: flex;
    gap: 60px;
  }

      
  img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    
    
  }
}

#services {
  background-color: #f2eee9;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
   h2{
    font-family: serif;
    color:#e85234;
   }

  .service {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }
  

    h3 {
      color: #f9b8af;
      margin-bottom: 10px;
      font-family:  serif;
    }

    p {
      color: $color-support;
      font-family:'Didot', serif;;
    }
  }
}

.cta-section {
  background-color:#f9b8af;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
  font-family: serif;

  .cta-button {
    background-color:#f2d7d3 ;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Didot', serif;;

    &:hover {
      background-color: $color-secondary-hover;
    }
  }
}

.contact {
  background-color:#f2eee9;
  h2{
    font-family: serif;
    color:#e85234;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    max-width: 600px;

    input,
    textarea {
      padding: 15px;
      border-radius: 5px;
      border: 2px solid #e85234;
      font-size: 1rem;
      color: $color-support;
      font-family: 'Didot', serif;;
    }

    button {
      background-color: #e85234;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f2d7d3;
      }
    }
  }
}
