@import "colors.scss";

.scroll-container {
  width: 100%;
  font-family: "Overpass", sans-serif;
  color: $color-secondary-dark-2;
}

section {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#typed-text {
  font-size: 3rem;
  font-weight: bold;
  color: $color-support-dark-1;
  border-right: 2px solid $color-support-dark-2; /* Simula o cursor piscando */
  white-space: nowrap;
  overflow: hidden; /* Esconde o texto enquanto  digitado */
  display: inline-block;
}

@keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: $color-support-dark-2;
  }
  100% {
    border-color: transparent;
  }
}

#hero {
  position: relative;
  background-image: url("assets/main-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Ajuste conforme necess rio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      255,
      255,
      255,
      0.5
    ); /* Ajuste a opacidade conforme necess rio */
    filter: grayscale(100%);
    pointer-events: none; /* Bloqueia cliques na imagem */
    z-index: 1;
  }
  /* Conteudo dentro da hero section */
  h1,
  p {
    content: "";
    position: relative;
    z-index: 2;
    font-size: 36px;
    color: $color-support-dark-1; /* Ajuste conforme a necessidade de contraste */
  }
}

#about {
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  h2 {
    color: #333;
    flex: 1;
    text-align: left;
  }

  p {
    color: #333;
    flex: 1;
    text-align: left;
  }

  img {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}



#services {
  background-color: $color-support-light-1;
  text-align: center; /* Mant m o t tulo alinhado no centro */

  .service {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    h3 {
      color: $color-primary;
      margin-bottom: 10px;
    }

    p {
      color: $color-support;
    }
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
}

.cta-section {
  background-color: $color-support-dark-1;
  color: #fff;
  padding: 80px 20px;
  text-align: center;

  .cta-button {
    background-color: $color-secondary;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-secondary-hover;
    }
  }
}

.contact {
  background-color: $color-support-light-1;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    max-width: 600px;

    input,
    textarea {
      padding: 15px;
      border-radius: 5px;
      border: 2px solid $color-support-light-1;
      font-size: 1rem;
      color: $color-support;
    }

    button {
      background-color: $color-primary;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-primary-hover;
      }
    }
  }
}

