@import "colors.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color:#e85234;
  padding: 10px 20px;
  border-radius: 100px;
  box-shadow: 0 4px 20px 10px (white);
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  li {
    a {
      color: #f2eee9;
      text-decoration: none;
      font-weight: bold;
      font-family: serif ;
      &:hover {
        color: #f2eee9;
      }
    }
  }
}

.cta {
  background-color: #f2eee9;
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color:#c57a81;
  img {
    max-width: 40px;
  }
}

.cta a {
  text-decoration: none;
  color: inherit;
}

.cta:hover {
  background-color:pink;
}
