<header>
  <!-- Barra Superior -->
  <div class="top-bar">
    <span>Universidade Tecnológica Federal do Paraná</span>
    <!-- Substituído o @ por &#64; para não conflitar com o Angular -->
    <span>contato&#64;hitech.org.br</span>
  </div>

  <!-- Navegação Principal -->
  <nav>
    <div class="logo" routerLink="/home">
      <img [src]="templateText.LogoEmpresa.src" [alt]="templateText.LogoEmpresa.alt" />
    </div>
    
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Sobre Nós</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Serviços</a></li>
      <li><a (click)="navigateToSection('home', 'contato')">Contato</a></li>
    </ul>
  </nav>
</header>

<main>
  <ng-content></ng-content>
</main>