<header>
  <nav>
    <div class="logo" (click)="navigateToSection('home', 'hero')">
      <img src="assets/logo_branca.svg" alt="Logo da Empresa" />
    </div>
    <ul class="nav-links">
      <li><a (click)="navigateToSection('home', 'about')">Sobre Nós</a></li>
      <li><a (click)="navigateToSection('home', 'services')">Serviços</a></li>
      <!--<li><a (click)="navigateToSection('home', 'hero')">Clientes</a></li>-->
      <li><a (click)="navigateToSection('home', 'contact')">Contato</a></li>
      <!--<li><a (click)="navigateToSection('home', 'hero')">Processo Seletivo</a></li>-->
    </ul>
    <!-- <a href="https://wa.me/5541998505198" target="_blank">
      <button class="cta">
        <img src="assets/whatsIcon.webp" alt="Contato" />
      </button>
    </a> -->
  </nav>
</header>

<main>
  <ng-content></ng-content>
</main>
